.container{
    display: flex;
    justify-content: center;
}

.face{
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
}

.eye1{
    background-color: goldenrod;
    height: 20px;
    width: 10px;
    border-radius: 100%;
    top: 25px;
    left: 25px;
    position: absolute;
}

.eye2{
    background-color: goldenrod;
    height: 20px;
    width: 10px;
    border-radius: 100%;
    top: 25px;
    right: 25px;
    position: absolute;
}

.mouth{
    background-color: goldenrod;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 62px;
    right: 39px;
    position: absolute;
}

.container1{
    display: flex;
    justify-content: center;
}

.face1{
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
}

.eye11{
    background-color: goldenrod;
    height: 20px;
    width: 10px;
    border-radius: 100%;
    top: 25px;
    left: 25px;
    position: absolute;
}

.eye12{
    background-color: goldenrod;
    height: 20px;
    width: 10px;
    border-radius: 100%;
    top: 25px;
    right: 25px;
    position: absolute;
}

.mouth1{
    background-color: goldenrod;
    height: 25px;
    width: 50px;
    border-radius: 0 0 80px 80px;
    top: 60px;
    left: 25px;
    position: absolute;
    overflow: hidden;
}

.tongue{
    background-color: rgb(242, 71, 99);
    width: 40px;
    height: 25px;
    border-radius: 50%;
    top: 10px;
    left: 5px;
    position: absolute;
}
c